* {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 86, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main-header p {
  font-size: 35px;
  font-weight: bold;
}

/* MAIN */

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

#gestionQuestionReponse {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nombreQuestion {
  display: flex;
  flex-direction: column;
}

#userNumberQuestion {
  margin: 5px 0;
  width: 200px;
}

#submit {
  margin-bottom: 5px;
}

#Questions {
  display: flex;
  flex-direction: column;
  width: 30%;

  padding: 5px 10px;
}

.ClassQuestions {
  padding: 5px 10px;
  margin: 2px 0 2px 0;
}

#Reponses {
  display: flex;
  flex-direction: column;
  width: 30%;

  padding: 5px 10px;
}

.ClassReponses {
  padding: 5px 10px;
  margin: 2px 0 2px 0;
}

#GameGo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ClassPlayLink {
  display: flex;
  background-color: rgb(15, 230, 15);
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 20px 5px 20px;
  visibility: hidden;
}
